[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pytest = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
